Repository VROOM-Project/pyvroom: changes, and which Codecov flags are due for each by the changed paths.
All: python, binding, vroom

Set cxx_std = 20
  setup.py
Due: none

Remove lshift operator from amount
  src/bind/amount.cpp
Due: binding

Update Vehicle class
  src/bind/vehicle.cpp
  src/vroom/vehicle.py
Due: python, binding

Update solution package classes
  src/bind/solution/route.cpp
  src/bind/solution/solution.cpp
  src/bind/solution/summary.cpp
Due: binding

Fix matrix.cpp import
  src/bind/generic/matrix.cpp
Due: binding

Remove const from Violations init
  src/_vroom.cpp
Due: binding

Lint and format
  Makefile
  src/_vroom.cpp
  src/bind/break.cpp
  src/bind/location.cpp
  src/bind/solution/route.cpp
  src/bind/solution/solution.cpp
  src/bind/solution/summary.cpp
  src/bind/time_window.cpp
  src/bind/utils.cpp
  src/bind/vehicle.cpp
  src/vroom/__init__.py
  src/vroom/amount.py
  src/vroom/break_.py
  src/vroom/input/input.py
  src/vroom/input/vehicle_step.py
  src/vroom/solution/solution.py
  src/vroom/time_window.py
  src/vroom/vehicle.py
Due: python, binding

Add set_distances_matrix
  src/bind/input/input.cpp
  src/vroom/input/input.py
  src/vroom/vehicle.py
Due: python, binding

Add missing includes
  src/_vroom.cpp
Due: binding

Re-add _lshift
  src/bind/amount.cpp
Due: binding

Fix error involving location and has_coordinates
  src/bind/solution/solution.cpp
Due: binding

Fix default value for max_distance
  src/_vroom.cpp
  src/vroom/vehicle.py
Due: python, binding

Update README.rst
  README.rst
Due: none

Show distance column in solution only when required
  src/vroom/input/input.py
  src/vroom/solution/solution.py
  test/test_libvroom_examples.py
Due: python

Add tests for max_distance and max_travel_time
  test/test_vehicle.py
Due: none

Update checkout, setup-python, and codecov actions
  .github/workflows/main_push.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
Due: none

Switch to python 3.9 minimum
  .github/workflows/main_push.yml
  .github/workflows/pull_request.yml
Due: none

adding asio to includes
  setup.py
Due: none

increase brew verbosity
  pyproject.toml
Due: none

attempting to let conan build macos deps
  .github/workflows/release.yml
  setup.py
Due: none

Update LLVM@18 to support C++20
  .github/workflows/release.yml
Due: none

updates, asio bundle and apple silicon support
  .github/workflows/main_push.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  .gitmodules
  pyproject.toml
  setup.py
Due: none

update tests and mac deps
  .github/workflows/main_push.yml
  .github/workflows/release.yml
  README.rst
  src/vroom/break_.py
Due: python

brew instead of submodule
  .gitmodules
  pyproject.toml
  setup.py
Due: none

emulate linux arm
  .github/workflows/release.yml
  setup.py
Due: none

only build 39 and up
  pyproject.toml
Due: none

bugfix
  pyproject.toml
Due: none

update deps handle
  .github/workflows/release.yml
  pyproject.toml
Due: none

versions
  pyproject.toml
  setup.py
Due: none

target newer macs
  .github/workflows/release.yml
Due: none

target even newer macs
  .github/workflows/release.yml
Due: none

higher req for mac-arm
  .github/workflows/release.yml
  README.rst
  setup.cfg
Due: none

disable linux arm
  pyproject.toml
Due: none

disable linux arm
  .github/workflows/release.yml
  src/_vroom.cpp
  src/bind/amount.cpp
  src/bind/break.cpp
  src/bind/generic/matrix.cpp
  src/bind/input/input.cpp
  src/bind/location.cpp
  src/bind/solution/route.cpp
  src/bind/solution/solution.cpp
  src/bind/solution/summary.cpp
  src/bind/time_window.cpp
  src/bind/utils.cpp
  src/bind/vehicle.cpp
  src/vroom/__init__.py
  src/vroom/amount.py
  src/vroom/break_.py
  src/vroom/input/input.py
  src/vroom/input/vehicle_step.py
  src/vroom/solution/solution.py
  src/vroom/time_window.py
  src/vroom/vehicle.py
Due: python, binding

support for intel and arm macos
  .github/workflows/main_push.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  README.rst
  pyproject.toml
  setup.cfg
  setup.py
Due: none

support for intel and arm macos
  .github/workflows/main_push.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  README.rst
  pyproject.toml
  setup.cfg
  setup.py
  src/vroom/break_.py
Due: python

moving back to manylinux2014
  .github/workflows/main_push.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  README.rst
  pyproject.toml
Due: none

force almalinux
  pyproject.toml
Due: none

explicit path
  pyproject.toml
Due: none

Path conditions:
  python: any of: src/vroom/
  binding: any of: src/_vroom.cpp, src/bind/
  vroom: any of: vroom/src/
