Repository VROOM-Project/pyvroom: changes, and which Codecov flags are due for each by the changed paths.
All: python, binding, vroom

processes coords as float instead of int
  src/bind/solution/solution.cpp
  src/vroom/solution/solution.py
Due: python, binding

bugfix: vehicle.max_travel_time as user duration
  src/vroom/vehicle.py
Due: python

fixes conversion from VehicleStep service times
  src/vroom/input/vehicle_step.py
  src/vroom/vehicle.py
Due: python

adds DUSE_LIBGLPK flag
  setup.py
Due: none

adding missing dependencies
  src/_vroom.cpp
Due: binding

add glpk
  .github/workflows/pull_request.yml
Due: none

adds linking flag
  setup.py
Due: none

adding glpk to cibuildwheel
  pyproject.toml
Due: none

adding more glpk to cibuildwheel
  conanfile.txt
  pyproject.toml
Due: none

giving up on win, updating on linux
  .github/workflows/pull_request.yml
  conanfile.txt
  pyproject.toml
  setup.py
Due: none

resetting conan
  conanfile.txt
  setup.py
Due: none

disable windows
  .github/workflows/release.yml
Due: none

amend docs with a routing example and improve docstring
  README.rst
  src/vroom/input/input.py
  test.py
Due: python

remove test file
  test.py
Due: none

try without the recipe version
  conanfile.txt
Due: none

trigger win
  .github/workflows/main_push.yml
Due: none

conan: only build missing binary packages
  .github/workflows/main_push.yml
  .github/workflows/pull_request.yml
Due: none

revert workflow stuff
  .github/workflows/main_push.yml
  .github/workflows/pull_request.yml
Due: none

Update README.rst
  README.rst
Due: none

don't build CI on irrelevant files
  .github/workflows/main_push.yml
  .github/workflows/pull_request.yml
Due: none

fix doctest
  README.rst
Due: none

update readme
  README.rst
Due: none

modernize the hosted actions
  .github/workflows/main_push.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
Due: none

try out manylinux2_28
  pyproject.toml
Due: none

asio-devel needs enabling of mariadb.. why..
  pyproject.toml
Due: none

fix readme
  README.rst
Due: none

missing -y
  pyproject.toml
Due: none

ignore python3.12 for the moment: distutils was finally deprecated
  pyproject.toml
Due: none

try u instead of uint32
  src/vroom/input/input.py
Due: python

bugfix
  src/vroom/input/input.py
Due: python

try python version 3.12
  pyproject.toml
Due: none

update cibuildwheel to deal with issue 1740
  .github/workflows/release.yml
Due: none

fix deploy username and doctest
  .github/workflows/release.yml
  README.rst
Due: none

adding geometry flag
  src/bind/solution/solution.cpp
  src/vroom/solution/solution.py
Due: python, binding

remove annotation
  src/bind/solution/solution.cpp
  src/vroom/solution/solution.py
Due: python, binding

trying it out
  src/bind/solution/solution.cpp
  src/vroom/input/input.py
  src/vroom/solution/solution.py
Due: python, binding

include distance in readme example
  README.rst
Due: none

fix set_geometry
  README.rst
  src/vroom/input/input.py
Due: python

Path conditions:
  python: any of: src/vroom/
  binding: any of: src/_vroom.cpp, src/bind/
  vroom: any of: vroom/src/
