Repository VROOM-Project/pyvroom: changes, and which Codecov flags are due for each by the changed paths.
All: python, binding, vroom

manylinux 2.34 again
  pyproject.toml
Due: none

adds DUSE_LIBGLPK flag
  setup.py
Due: none

adding missing dependencies
  src/_vroom.cpp
Due: binding

adds linking flag
  setup.py
Due: none

add glpk
  .github/workflows/pull_request.yml
Due: none

adding glpk to cibuildwheel
  pyproject.toml
Due: none

adding more glpk to cibuildwheel
  conanfile.txt
  pyproject.toml
Due: none

giving up on win, updating on linux
  .github/workflows/pull_request.yml
  conanfile.txt
  pyproject.toml
  setup.py
Due: none

conan: only build missing binary packages
  .github/workflows/main_push.yml
  .github/workflows/pull_request.yml
Due: none

Fix Conan GLPK linking on macOS
  setup.py
Due: none

revert workflow stuff
  .github/workflows/main_push.yml
  .github/workflows/pull_request.yml
Due: none

don't build CI on irrelevant files
  .github/workflows/main_push.yml
  .github/workflows/pull_request.yml
Due: none

try without the recipe version
  conanfile.txt
Due: none

update readme
  README.rst
Due: none

resetting conan
  conanfile.txt
  setup.py
Due: none

trigger win
  .github/workflows/main_push.yml
Due: none

Add plan mode test
  test/test_libvroom_examples.py
Due: none

Typo fix: defintion -> definition
  src/vroom/input/input.py
Due: python

Fix tests
  .github/workflows/main_push.yml
  .github/workflows/release.yml
  test/test_libvroom_examples.py
Due: none

bugfixes
  README.rst
  src/bind/input/input.cpp
Due: binding

Attempt to fix ci
  test/test_libvroom_examples.py
Due: none

Try fix
  Makefile
  test/test_libvroom_examples.py
Due: none

Try fix
  .github/workflows/pull_request.yml
  setup.py
Due: none

wheels at root
  .github/workflows/release.yml
Due: none

wheels at level 1
  .github/workflows/release.yml
Due: none

wheels at level 2
  .github/workflows/release.yml
Due: none

Fix coverage
  Makefile
Due: none

Fix doctest
  README.rst
  test/test_libvroom_examples.py
Due: none

Attempt to fix tests
  README.rst
  test/test_libvroom_examples.py
Due: none

allow overwite uploads
  .github/workflows/release.yml
Due: none

fixing job signature
  src/vroom/job.py
Due: python

Job and solve signature.
  src/vroom/input/input.py
  src/vroom/job.py
  test/test_job.py
Due: python

More signature fixes.
  src/vroom/job.py
Due: python

fixing artifacts?
  .github/workflows/release.yml
  README.rst
  src/vroom/job.py
Due: python

one more time?
  src/vroom/job.py
Due: python

scm + bump publish
  .github/workflows/release.yml
  pyproject.toml
  src/vroom/input/input.py
Due: python

get scm to work with sdist
  pyproject.toml
  setup.cfg
Due: none

setup.cfg -> pyproject.toml
  .github/workflows/release.yml
  pyproject.toml
  setup.cfg
  version
Due: none

depricating scm
  build-requirements.txt
  pyproject.toml
  setup.py
Due: none

disable coverage
  .github/workflows/pull_request.yml
  Makefile
Due: none

Path conditions:
  python: any of: src/vroom/
  binding: any of: src/_vroom.cpp, src/bind/
  vroom: any of: vroom/src/
