Repository VROOM-Project/pyvroom: changes, and which Codecov flags are due for each by the changed paths.
All: python, binding, vroom

codecov.yml:

coverage:
  precision: 1
  range: 80...100

comment:
  layout: "header, diff, flags"
  branches:
    - main

flags:
  python:
    paths:
      - src/vroom/
  binding:
    paths:
      - src/_vroom.cpp
      - src/bind/
  vroom:
    paths:
      - vroom/src/

parsers:
  gcov:
    branch_detection:
      method: yes

Adding Codecov support (#29)
  .github/workflows/pull_request.yml
  .gitignore
  Makefile
  codecov.yml
  setup.cfg
Due: none

it's md not rst
  setup.cfg
Due: none

add long_description_content_type
  setup.cfg
Due: none

fix pypi readme (#32)
  setup.cfg
Due: none

Adding tokens
  .github/workflows/pull_request.yml
Due: none

Adding tokens (#33)
  .github/workflows/pull_request.yml
Due: none

Adding vroom coverage
  .github/workflows/pull_request.yml
  Makefile
Due: none

adding vehicle
  src/_vroom.cpp
  src/bind/vehicle.cpp
  src/vroom/job.py
  src/vroom/vehicle.py
Due: python, binding

adding tests
  src/bind/amount.cpp
  src/vroom/amount.py
  src/vroom/break_.py
  src/vroom/location.py
  src/vroom/vehicle.py
  test/test_amount.py
  test/test_vehicle.py
Due: python, binding

cleanup
  src/bind/amount.cpp
Due: binding

removing coverage of vroom code
  .github/workflows/pull_request.yml
Due: none

bugfix
  .github/workflows/pull_request.yml
Due: none

test and cover on master push
  .github/workflows/pull_request.yml
Due: none

New exception classes
  src/_vroom.cpp
  src/bind/enums.cpp
Due: binding

using refactored exception
  src/_vroom.cpp
  src/bind/exception.cpp
Due: binding

bugfix
  test/test_break.py
  test/test_time_window.py
Due: none

split cpp into more files
  src/_vroom.cpp
  src/bind/generic/matrix.cpp
  src/bind/input/input.cpp
  src/bind/solution/route.cpp
  src/bind/solution/solution.cpp
  src/bind/solution/step.cpp
  src/bind/solution/summary.cpp
Due: binding

messing with codecov yaml
  codecov.yml
Due: none

export route solution to numpy/pandas
  README.md
  setup.cfg
  src/_vroom.cpp
  src/bind/input/input.cpp
  src/bind/solution/solution.cpp
  src/bind/solution/step.cpp
  src/vroom/input/input.py
  src/vroom/solution/solution.py
  test/test_libvroom_examples.py
Due: python, binding

using categorical datatype
  src/vroom/solution/solution.py
  test/test_libvroom_examples.py
Due: python

bugfix pre-install pandas
  build-requirements.txt
  src/bind/solution/solution.cpp
Due: binding

adding command line interface
  setup.py
  src/_vroom.cpp
  src/vroom/__init__.py
  test/test_command_line_interface.py
Due: python, binding

adding tests
  src/_vroom.cpp
  src/bind/main.cpp
  src/bind/vehicle.cpp
Due: binding

move main.cpp to not conflict with vroom root
  src/_vroom.cpp
  src/bind/_main.cpp
Due: binding

include cli test in coverage
  test/test_command_line_interface.py
Due: none

completing routes output to pandas
  README.md
  src/_vroom.cpp
  src/bind/solution/solution.cpp
  src/vroom/solution/solution.py
  test/test_libvroom_examples.py
Due: python, binding

Support for Solution to JSON
  src/bind/solution/solution.cpp
  src/vroom/solution/solution.py
Due: python, binding

MD -> RST to add badges
  README.rst
Due: none

Removing old README.
  README.md
Due: none

adding README doctests
  Makefile
  README.rst
Due: none

using cout redirect
  src/bind/_main.cpp
  src/bind/solution/solution.cpp
  src/vroom/solution/solution.py
  test/test_command_line_interface.py
Due: python, binding

fixing tests
  test/test_command_line_interface.py
  test/test_file_handle.py
Due: none

adding vroom/include to extension includes
  setup.py
Due: none

cleanup manifest and dependency to md
  .github/workflows/main_push.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  MANIFEST.in
Due: none

temporarily disabling windows
  .github/workflows/main_push.yml
  .github/workflows/release.yml
Due: none

Adding JSON input/Output support.
  setup.py
  src/bind/_main.cpp
  src/bind/input/input.cpp
  src/bind/solution/solution.cpp
  src/vroom/input/input.py
  test/test_file_handle.py
Due: python, binding

cleanup
  src/vroom/input/input.py
Due: python

Adding meta files
  setup.cfg
Due: none
