Repository VROOM-Project/pyvroom: changes, and which Codecov flags are due for each by the changed paths.
All: python, binding, vroom

codecov.yml:

coverage:
  precision: 1
  range: 80...100

comment:
  layout: "header, diff, flags"
  branches:
    - main

flags:
  python:
    paths:
      - src/vroom/
  binding:
    paths:
      - src/_vroom.cpp
      - src/bind/
  vroom:
    paths:
      - vroom/src/

parsers:
  gcov:
    branch_detection:
      method: yes

attempt at libosrm
  .github/workflows/release.yml
  pyproject.toml
  setup.py
Due: none

bugfix
  setup.py
Due: none

bugfix
  .github/workflows/release.yml
Due: none

WIP
  .github/workflows/release.yml
  pyproject.toml
  src/_vroom.cpp
Due: binding

check first for pkg-config
  setup.py
Due: none

correct README added to setup
  setup.cfg
Due: none

to resolve win builds, I merged vroom master into own private fork from jonathan's fork to try CI; one test fails, conflicts resolving was definitely way too naive
  .github/workflows/main_push.yml
  setup.py
Due: none

Update input.py
  src/vroom/input/input.py
Due: python

switch submodule URL to fork
  .gitmodules
Due: none

Changed typo error
  src/vroom/input/input.py
Due: python

Allow for capacities to be determined post init.
  src/vroom/input/input.py
Due: python

Update src/vroom/input/input.py
  src/vroom/input/input.py
Due: python

enable windows support again
  .github/workflows/main_push.yml
  .github/workflows/release.yml
Due: none

guard capacity for jobs and shipments
  src/vroom/input/input.py
Due: python

bugfix
  src/vroom/input/input.py
Due: python

Better flow control
  src/vroom/input/input.py
Due: python

clang format
  src/_vroom.cpp
  src/bind/_main.cpp
  src/bind/amount.cpp
  src/bind/exception.cpp
  src/bind/generic/matrix.cpp
  src/bind/input/input.cpp
  src/bind/solution/route.cpp
  src/bind/solution/solution.cpp
  src/bind/solution/step.cpp
  src/bind/solution/summary.cpp
  src/bind/vehicle.cpp
  src/vroom/__init__.py
  src/vroom/input/cvrp.py
  src/vroom/input/hvrp.py
  src/vroom/input/input.py
  src/vroom/job.py
  src/vroom/location.py
  src/vroom/solution/solution.py
  src/vroom/vehicle.py
  test/test_job.py
Due: python, binding

remove unrelated code
  src/vroom/input/cvrp.py
  src/vroom/input/hvrp.py
Due: python

bugfixes
  src/vroom/job.py
Due: python

take a stab at installing on windows-2022
  .github/workflows/main_push.yml
  .github/workflows/release.yml
  setup.py
Due: none

trigger a windows build
  .github/workflows/main_push.yml
Due: none

maybe missing branches-ignore: '*'
  .github/workflows/release.yml
Due: none

maybe missing branches-ignore: '*'
  .github/workflows/main_push.yml
Due: none

Adding shipment interface.
  src/vroom/input/input.py
  src/vroom/job.py
Due: python

updating cibuildwheel to build against python 3.11
  .github/workflows/release.yml
Due: none

Update to vroom 1.12.0
  .gitmodules
Due: none

set skill default correctly
  src/vroom/input/input.py
Due: python

pin conan version
  .github/workflows/main_push.yml
  .github/workflows/release.yml
Due: none

Update code to version 1.13
  .gitmodules
  src/_vroom.cpp
  src/bind/input/input.cpp
  src/bind/vehicle.cpp
  src/vroom/vehicle.py
Due: python, binding

make locations work
  src/bind/location.cpp
  src/vroom/location.py
  test/test_location.py
Due: python, binding

Update time_window definition
  src/_vroom.cpp
  src/bind/time_window.cpp
  src/bind/utils.cpp
  src/vroom/time_window.py
  test/test_time_window.py
Due: python, binding

putting it all together
  src/_vroom.cpp
  src/bind/vehicle.cpp
  src/vroom/__init__.py
  src/vroom/break_.py
  src/vroom/input/forced_service.py
  src/vroom/input/vehicle_step.py
  src/vroom/job.py
  src/vroom/time_window.py
  src/vroom/vehicle.py
Due: python, binding

reference wip docs
  README.rst
Due: none

Update README.rst
  README.rst
Due: none

adding max_load to Break
  src/bind/break.cpp
  src/vroom/amount.py
  src/vroom/break_.py
  src/vroom/input/forced_service.py
  src/vroom/input/vehicle_step.py
  src/vroom/job.py
  src/vroom/location.py
  src/vroom/solution/solution.py
  test/test_break.py
Due: python, binding

pydoc output
  src/vroom/break_.py
Due: python

Fix #74
  src/vroom/job.py
Due: python

add USE_ROUTING compiler arg
  setup.py
Due: none
