Repository VROOM-Project/pyvroom: changes, and which Codecov flags are due for each by the changed paths.
All: python, binding, vroom

try linux arm
  pyproject.toml
Due: none

only arm64+x86_64
  .github/workflows/release.yml
  pyproject.toml
Due: none

only arm64+x86_64
  README.rst
  pyproject.toml
Due: none

Update release.yml
  .github/workflows/release.yml
Due: none

Move flags envs and install
  .github/workflows/release.yml
  pyproject.toml
  setup.py
Due: none

lower req 3.6
  .github/workflows/release.yml
Due: none

lower req 14
  .github/workflows/release.yml
Due: none

Use gcc-13 on macos (#6)
  .github/workflows/release.yml
  README.rst
  pyproject.toml
  setup.py
Due: none

patch main push
  .github/workflows/main_push.yml
  .github/workflows/release.yml
Due: none

addin qemu
  .github/workflows/main_push.yml
Due: none

Update _vroom.cpp
  src/_vroom.cpp
Due: binding

Update pull_request.yml
  .github/workflows/pull_request.yml
Due: none

Adding documenation
  README.rst
  docs/_config.yml
  docs/_toc.yml
  docs/conf.py
  docs/documentation.rst
  docs/readme.rst
  docs/requirements.txt
  docs/vroom.svg
  src/vroom/__init__.py
Due: python

Update docs/documentation.rst
  docs/documentation.rst
Due: none

pushing for 1.15 support
  src/_vroom.cpp
  src/bind/enums.cpp
  src/bind/input/input.cpp
Due: binding

update input interface
  src/bind/input/input.cpp
  src/bind/vehicle.cpp
  src/vroom/input/input.py
  src/vroom/vehicle.py
Due: python, binding

gcc-13 -> gcc-14
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  pyproject.toml
Due: none

missing VehicleCost constructor update
  src/bind/vehicle.cpp
Due: binding

removing amount from input
  README.rst
  src/bind/input/input.cpp
  src/vroom/input/input.py
Due: python, binding

upload-artifact v4
  .github/workflows/release.yml
Due: none

downgrade to v3 again
  .github/workflows/release.yml
Due: none

update vroom + version
  .github/workflows/release.yml
  src/bind/input/input.cpp
  src/vroom/input/input.py
Due: python, binding

ambigous solve call fix
  src/bind/input/input.cpp
Due: binding

don't verify changes
  .github/workflows/release.yml
Due: none

accomodate two versions of sed
  .github/workflows/release.yml
Due: none

bugfix
  .github/workflows/release.yml
Due: none

path in Server init
  src/_vroom.cpp
Due: binding

update gha artifacts to v4
  .github/workflows/release.yml
Due: none

iterate
  src/bind/input/input.cpp
  src/bind/job.cpp
  src/bind/solution/step.cpp
  src/bind/utils.cpp
Due: binding

update linux, macos and gcc
  .github/workflows/main_push.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  pyproject.toml
Due: none

update cibuildwheel
  .github/workflows/main_push.yml
  .github/workflows/release.yml
Due: none

pinning macos version 1.15
  .github/workflows/main_push.yml
  .github/workflows/release.yml
Due: none

update actions, downgrade manylinux
  .github/workflows/main_push.yml
  .github/workflows/release.yml
  pyproject.toml
Due: none

Path conditions:
  python: any of: src/vroom/
  binding: any of: src/_vroom.cpp, src/bind/
  vroom: any of: vroom/src/
